.web-controls-container {
  /* Add styling for the entire container */
}

.logo {
  font-size: xx-large;
  font-weight: 800;
  border: 2px solid black;
  height: 50px;
  display: block;
  text-align: center;
  background: rgba(87, 234, 90, 0.652);
}

.section {
  border: 2PX SOLID black;
  border-radius: 7px;
  background-color: black;
  color: white;
  margin-top: 2px;
  justify-content: space-around;
  text-align:center
  /* Styling for each section (PARAMETER, SET, ACT, etc.) */
}
.section-row {
  margin-left: 10px;
  display: flex;
  justify-content: space-between; 
}


.parameter {
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  border: 2PX SOLID black;
  border-radius: 5px;
  background-color: grey;
  /* Styling for parameter labels and input fields */
}

.parameter-row {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.parameter-row label {
  margin-right: 10px;
}

.parameter-row input[type="text"] {
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #ccc;
}

.parameter-row button {
  background-color: yellow;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}


button{
  width: 20vh;
}

.machine-mode {
  /* Styling for the machine mode button */
}

/* Add additional CSS rules for other elements */
